    <!-- carousel start -->
  <section class="carousel-section">

  <div class="instagram-carousel">
    <div class="carousel-track">

      <img src="/images/first.png" alt="carousel pic1">
      <img src="/images/second.png" alt="carousel pic2">
      <img src="/images/third.png" alt="carousel pic3">
      <img src="/images/fourth.png" alt="carousel pic4">
      <img src="/images/fifth.png" alt="carousel pic5">
      <img src="/images/first.png" alt="carousel pic6">
      <img src="/images/seventh.png" alt="carousel pic7">
      <img src="/images/third.png" alt="carousel pic8">
 
      <img src="/images/first.png" alt="carousel pic1">
      <img src="/images/second.png" alt="carousel pic2">
      <img src="/images/third.png" alt="carousel pic3">
      <img src="/images/fourth.png" alt="carousel pic4">
      <img src="/images/fifth.png" alt="carousel pic5">
      <img src="/images/first.png" alt="carousel pic6">
      <img src="/images/seventh.png" alt="carousel pic7">
      <img src="/images/fifth.png" alt="carousel pic8">

    </div>

    <a href="#" class="instagram-btn">Follow @ instagram</a>
  </div>

</section>
<!-- carousel end -->