 <nav>
        <div class="logo">
          <div class="logo-text">
            <h2>Red</h2>
            <p>Explorers</p>
          </div>

          <div class="logo-icon">
            <img src="/images/logo.png" alt="logo-icon" />
          </div>
        </div>

        <div class="nav-btn">
            <li><a href="/" class="hm-txt">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/destination">Destination</a></li>
            <li><a href="/tips">Tips</a></li>
            <li><a href="/contact">Contact</a></li>
        </div>
      </nav>