<!-- newsletter start -->
<section class="newsletter">
  <div class="news-text">
    <p>Join <span>98,641</span> Monthly Readers.</p>
    <p>Subscribe Today!</p>
  </div>
  <form action="/newsletter" method="post" class="news-sub">
    <input type="email" name="email" placeholder="Email Address" />
    <button type="submit">Subscribe</button>
  </form>
</section>
<!-- newsletter end -->