<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/aboutus.css" />
    <link rel="stylesheet" href="/CSS/mediaQ.css" />
</head>
<body>
    <!-- header section start -->
    <div class="about-hdr">
      <%- include("partials/navbar.ejs") %>

      <section class="hero-section-about">
        <h2>About Us</h2>
      </section>
    </div>
    <!-- header section end -->
</body>
</html>