<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traveling Blog</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link
      href="https://cdn.boxicons.com/3.0.8/fonts/basic/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.boxicons.com/3.0.8/fonts/filled/boxicons-filled.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.boxicons.com/3.0.8/fonts/brands/boxicons-brands.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header section start -->
    <header>
      <%- include("partials/navbar.ejs") %>

      <section class="hero-section">
        <p class="counter">
          THE COUNTER: <span class="num">70</span> Countries
          <span class="num-2"> 1036</span> Cities
        </p>
        <h2>Leave your mark on all over the world</h2>
        <a href="#" class="read-more">Read More</a>

        <p class="scroll-txt">Scroll Down to Continue</p>
        <img src="/images/downicon.png" alt="down-icon" />

        <div class="location-icon">
          <img src="/images/location logo.png" alt="location-icon" />
        </div>
      </section>
    </header>
    <!-- header section end -->

    <!-- main start -->
    <main>
      <aside class="aside-content">
        <!-- about start -->
        <section class="about-sec">
          <h2>About Me</h2>
          <div class="about-cont">
            <img src="/images/about me pic.png" alt="my-picture" />
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum in
              vel massa donec sit. Mi ut risus sem malesuada ornare. Ac eu erat
              eget et lorem est arcu. Gravida hendrerit sit blandit semper
              lacus. Nulla amet suscipit sit lectus tortor. Dolor non eget
              suspendisse leo scelerisque sed d.
            </p>
          </div>
          <a href="#">Read More</a>
        </section>
        <!-- about end -->

        <!-- categories start -->
        <section class="categories">
          <h2>Categories</h2>
          <div class="cate-content">
            <ul>
              <li>Europe</li>
              <li>Mountains</li>
              <li>Traveling Video</li>
              <li>Beauty of Seas</li>
              <li>Cuisine</li>
              <li>Guides for traveler</li>
              <li>Other</li>
            </ul>
            <ol>
              <li>(11)</li>
              <li>(11)</li>
              <li>(11)</li>
              <li>(11)</li>
              <li>(11)</li>
              <li>(11)</li>
              <li>(11)</li>
            </ol>
          </div>
        </section>
        <!-- categories end -->

        <!-- popular-post start -->
        <section class="popular-post">
          <h2>Popular Post</h2>

          <div class="popu-post">
            <p>September 17, 2021 - Tips & Tricks</p>

            <div class="popu-btns">
              <h3>Finding Love & home in Tbilisi, Georgia</h3>
              <button type="button">
                <img src="/images/left-arrow.png" alt="left-arrow" />
              </button>
              <button type="button">
                <img src="/images/right-arrow.png" alt="right-arrow" />
              </button>
            </div>
          </div>
        </section>
        <!-- popular-post end -->

        <!-- Recent post start -->
        <section class="recent-post">
          <h2>Recent Post</h2>

          <div class="rece-posts">
            <img src="/images/image 8.png" alt="pic" />
            <div class="rece-text">
              <p class="rece-sm">September 17, 2018 - Tips & Tricks</p>
              <p class="rece-big">Finding Love & home in Tbilisi, Georgia</p>
            </div>
          </div>
          <div class="rece-posts">
            <img src="/images/image 9.png" alt="pic" />
            <div class="rece-text">
              <p class="rece-sm">September 17, 2018 - Tips & Tricks</p>
              <p class="rece-big">Finding Love & home in Tbilisi, Georgia</p>
            </div>
          </div>
          <div class="rece-posts">
            <img src="/images/image 9.png" alt="pic" />
            <div class="rece-text">
              <p class="rece-sm">September 17, 2018 - Tips & Tricks</p>
              <p class="rece-big">Finding Love & home in Tbilisi, Georgia</p>
            </div>
          </div>
        </section>
        <!-- Recent post end -->

        <!-- Gear start -->
        <section class="gear">
          <h2>Gear I Use</h2>
          <h3>What's in My Bag??</h3>
          <p>
            Unfortunately, there is no “one-size-fits-all” when it comes to
            travel packing lists.
          </p>
          <button type="button">View Details</button>
        </section>
        <!-- Gear end -->

        <!-- Product start -->
        <section class="product">
          <h2>Product That I Have</h2>
          <div class="products">
            <img src="/images/macbook.png" alt="apple-macbook" />
            <div class="prod-text">
              <p class="prod-name">
                Apple MacBook Air MJV2ELL/A 13-inch Laptop
              </p>
              <p class="prod-price">$514</p>
            </div>
          </div>
          <div class="products">
            <img src="/images/iphone.png" alt="iphone-xs" />
            <div class="prod-text">
              <p class="prod-name">Iphone Xs case, Iphone X case, SUPCASE</p>
              <p class="prod-price">$267</p>
            </div>
          </div>
          <div class="products">
            <img src="/images/watch.png" alt="apple-watch" />
            <div class="prod-text">
              <p class="prod-name">Master Sport band for Apple wrist watch</p>
              <p class="prod-price">$378</p>
            </div>
          </div>
        </section>
        <!-- Product end -->

        <!-- Get in Touch start -->
        <section class="get-in-touch">
          <h2>Get In Touch</h2>
          <div class="g-i-t-btns">
            <a type="button" class="fb button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="#fff"
                viewBox="0 0 24 24"
              >
                <path
                  d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22 22 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202z"
                ></path>
              </svg>
              <p>65.5K Likes</p>
            </a>
            <a type="button" class="X button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="#fff"
                viewBox="0 0 24 24"
              >
                <path
                  d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.04 4.04 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.03 4.03 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.02 4.02 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.46 11.46 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a8 8 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8 8 0 0 0 2.319-.624 8.7 8.7 0 0 1-2.019 2.083"
                ></path>
              </svg>
              <p>105 k Followers</p>
            </a>
            <a type="button" class="youtube button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="#fff"
                viewBox="0 0 24 24"
              >
                <path
                  d="M21.593 7.203a2.5 2.5 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.52 2.52 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831M9.996 15.005l.005-6 5.207 3.005z"
                ></path>
              </svg>
              <p>1.5 M Subscribers</p>
            </a>
            <a type="button" class="insta button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                fill="#fff"
                viewBox="0 0 24 24"
              >
                <path
                  d="M11.999 7.377a4.623 4.623 0 1 0 0 9.248 4.623 4.623 0 0 0 0-9.248m0 7.627a3.004 3.004 0 1 1 0-6.008 3.004 3.004 0 0 1 0 6.008m4.807-8.875a1.078 1.078 0 1 0 0 2.156 1.078 1.078 0 1 0 0-2.156"
                ></path>
                <path
                  d="M20.533 6.111A4.6 4.6 0 0 0 17.9 3.479a6.6 6.6 0 0 0-2.186-.42c-.963-.042-1.268-.054-3.71-.054s-2.755 0-3.71.054a6.6 6.6 0 0 0-2.184.42 4.6 4.6 0 0 0-2.633 2.632 6.6 6.6 0 0 0-.419 2.186c-.043.962-.056 1.267-.056 3.71s0 2.753.056 3.71c.015.748.156 1.486.419 2.187a4.6 4.6 0 0 0 2.634 2.632 6.6 6.6 0 0 0 2.185.45c.963.042 1.268.055 3.71.055s2.755 0 3.71-.055a6.6 6.6 0 0 0 2.186-.419 4.6 4.6 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.186.043-.962.056-1.267.056-3.71s0-2.753-.056-3.71a6.6 6.6 0 0 0-.421-2.217m-1.218 9.532a5 5 0 0 1-.311 1.688 3 3 0 0 1-1.712 1.711 5 5 0 0 1-1.67.311c-.95.044-1.218.055-3.654.055-2.438 0-2.687 0-3.655-.055a5 5 0 0 1-1.669-.311 3 3 0 0 1-1.719-1.711 5.1 5.1 0 0 1-.311-1.669c-.043-.95-.053-1.218-.053-3.654s0-2.686.053-3.655a5 5 0 0 1 .311-1.687c.305-.789.93-1.41 1.719-1.712a5 5 0 0 1 1.669-.311c.951-.043 1.218-.055 3.655-.055s2.687 0 3.654.055a5 5 0 0 1 1.67.311 3 3 0 0 1 1.712 1.712 5.1 5.1 0 0 1 .311 1.669c.043.951.054 1.218.054 3.655s0 2.698-.043 3.654z"
                ></path>
              </svg>
              <p>85 k Followers</p>
            </a>
          </div>
        </section>
        <!-- Get in Touch end -->
      </aside>

      <!-- main articles start -->
      <article class="main-articles">
        <!-- travelers-guide start -->
        <section class="travelers-guide">
          <img src="/images/buspic.png" alt="bus-pic" />
          <!-- <div class="travel-cont"> -->
          <p class="date">July, 15, 2021 - Tips and Tricks</p>
          <h3>
            A traveler’s guide to Penang, Malaysia - Where to Eat, Drink, Sleep
            and Explore
          </h3>
          <p class="lorem">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
            pharetra ac erat commodo non leo eget gravida viverra. Pharetra
            pharetra.
          </p>

          <div class="loc-comm">
            <div class="loc">
              <img src="/images/location.png" alt="location-icon" />
              <p>Penang, Malaysia</p>
            </div>

            <div class="comm">
              <img src="/images/comment.png" alt="message-icon" />
              <p>comment (52)</p>
            </div>
            <!-- </div> -->
          </div>
        </section>
        <!-- travelers-guide end -->

        <!-- double-blog start -->
        <section class="doub-blog">
          <aside class="first-blog">
            <div class="doub-cont">
              <img src="/images/whitebus2.png" alt="bus-pic" />
              <p class="doub-sm">September 17, 2021 - Tips & Tricks</p>
              <h3>Have you read The Beach by Alex?</h3>

              <div class="d-blog-loc-comm">
                <div class="d-blog-loc">
                  <img src="/images/location.png" alt="location-icon" />
                  <p>Georgia</p>
                </div>
                <div class="d-blog-comm">
                  <img src="/images/comment.png" alt="comment-icon" />
                  <p>Comment (52)</p>
                </div>
              </div>
            </div>
          </aside>
          <aside class="second-blog">
            <div class="doub-cont">
              <img src="/images/citynight.png" alt="city-pic" />
              <p class="doub-sm">September 17, 2021 - Tips & Tricks</p>
              <h3>The writer actually live in Philippines</h3>

              <div class="d-blog-loc-comm">
                <div class="d-blog-loc">
                  <img src="/images/location.png" alt="location-icon" />
                  <p>Georgia</p>
                </div>
                <div class="d-blog-comm">
                  <img src="/images/comment.png" alt="comment-icon" />
                  <p>Comment (52)</p>
                </div>
              </div>
            </div>
          </aside>
        </section>
        <!-- double-blog end -->

        <!-- finding love start -->
        <section class="travelers-guide2">
          <img src="/images/youtube.png" alt="youtube-pic" />
          <div class="travel-cont2">
            <p class="date2">July, 15, 2021 - Tips and Tricks</p>
            <h3>Finding Love & home in Tbilisi, Georgia</h3>
            <p class="lorem-love">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
              pharetra ac erat commodo non leo eget gravida viverra. Pharetra
              pharetra.
            </p>

            <div class="loc-comm2">
              <div class="loc">
                <img src="/images/location.png" alt="location-icon" />
                <p>Penang, Malaysia</p>
              </div>

              <div class="comm">
                <img src="/images/comment.png" alt="message-icon" />
                <p>comment (52)</p>
              </div>
            </div>
          </div>
        </section>
        <!-- finding love end -->

        <!-- purchase start -->
        <section class="purchase">
          <h2>
            Want <strong>Me to Purchase</strong> Something For You That isn’t
            available in your Country?
          </h2>
          <button type="button">Place Order</button>
        </section>
        <!-- purchase end -->

        <!-- double-blog start -->
        <section class="doub-blog">
          <aside class="first-blog">
            <div class="doub-cont">
              <img src="/images/handwithworld.png" alt="small-world-pic" />
              <p class="doub-sm">September 17, 2021 - Tips & Tricks</p>
              <h3>Get away from the maddening Crowds</h3>

              <div class="d-blog-loc-comm">
                <div class="d-blog-loc">
                  <img src="/images/location.png" alt="location-icon" />
                  <p>Georgia</p>
                </div>
                <div class="d-blog-comm">
                  <img src="/images/comment.png" alt="comment-icon" />
                  <p>Comment (42)</p>
                </div>
              </div>
            </div>
          </aside>
          <aside class="second-blog">
            <div class="doub-cont">
              <img src="/images/shatteredmirror.png" alt="toon" />
              <p class="doub-sm">September 17, 2021 - Tips & Tricks</p>
              <h3>Matsumoto Castle is considered one of</h3>

              <div class="d-blog-loc-comm">
                <div class="d-blog-loc">
                  <img src="/images/location.png" alt="location-icon" />
                  <p>Georgia</p>
                </div>
                <div class="d-blog-comm">
                  <img src="/images/comment.png" alt="comment-icon" />
                  <p>Comment (32)</p>
                </div>
              </div>
            </div>
          </aside>
        </section>
        <!-- double-blog end -->

        <!-- double-blog start -->
        <section class="doub-blog">
          <aside class="first-blog">
            <div class="doub-cont">
              <img src="/images/japan city.png" alt="city-night pic" />
              <p class="doub-sm">September 17, 2021 - Tips & Tricks</p>
              <h3>Many buildings especially in Japan</h3>

              <div class="d-blog-loc-comm">
                <div class="d-blog-loc">
                  <img src="/images/location.png" alt="location-icon" />
                  <p>Georgia</p>
                </div>
                <div class="d-blog-comm">
                  <img src="/images/comment.png" alt="comment-icon" />
                  <p>Comment (42)</p>
                </div>
              </div>
            </div>
          </aside>
          <aside class="second-blog">
            <div class="doub-cont">
              <img src="/images/deer.png" alt="deer pic" />
              <p class="doub-sm">September 17, 2021 - Tips & Tricks</p>
              <h3>There are roughly 1200 semiwild dear</h3>

              <div class="d-blog-loc-comm">
                <div class="d-blog-loc">
                  <img src="/images/location.png" alt="location-icon" />
                  <p>Georgia</p>
                </div>
                <div class="d-blog-comm">
                  <img src="/images/comment.png" alt="comment-icon" />
                  <p>Comment (32)</p>
                </div>
              </div>
            </div>
          </aside>
        </section>
        <!-- double-blog end -->

        <!-- finding love start -->
        <section class="travelers-guide2">
          <img src="/images/youtube.png" alt="youtube-pic" />
          <div class="travel-cont2">
            <p class="date2">July, 15, 2021 - Tips and Tricks</p>
            <h3>Finding Love & home in Tbilisi, Georgia</h3>
            <p class="lorem-love">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Viverra
              pharetra ac erat commodo non leo eget gravida viverra. Pharetra
              pharetra.
            </p>

            <div class="loc-comm2">
              <div class="loc">
                <img src="/images/location.png" alt="location-icon" />
                <p>Penang, Malaysia</p>
              </div>

              <div class="comm">
                <img src="/images/comment.png" alt="message-icon" />
                <p>comment (52)</p>
              </div>
            </div>
          </div>
        </section>
        <!-- finding love end -->

        <!-- double-blog start -->
        <section class="doub-blog">
          <aside class="first-blog">
            <div class="doub-cont">
              <img src="/images/whitebus2.png" alt="bus-pic" />
              <p class="doub-sm">September 17, 2021 - Tips & Tricks</p>
              <h3>Have you read The Beach by Alex?</h3>

              <div class="d-blog-loc-comm">
                <div class="d-blog-loc">
                  <img src="/images/location.png" alt="location-icon" />
                  <p>Georgia</p>
                </div>
                <div class="d-blog-comm">
                  <img src="/images/comment.png" alt="comment-icon" />
                  <p>Comment (52)</p>
                </div>
              </div>
            </div>
          </aside>
          <aside class="second-blog">
            <div class="doub-cont">
              <img src="/images/citynight.png" alt="city-pic" />
              <p class="doub-sm">September 17, 2021 - Tips & Tricks</p>
              <h3>The writer actually live in Philippines</h3>

              <div class="d-blog-loc-comm">
                <div class="d-blog-loc">
                  <img src="/images/location.png" alt="location-icon" />
                  <p>Georgia</p>
                </div>
                <div class="d-blog-comm">
                  <img src="/images/comment.png" alt="comment-icon" />
                  <p>Comment (52)</p>
                </div>
              </div>
            </div>
          </aside>
        </section>
        <!-- double-blog end -->
      </article>
      <!-- main articles end -->
    </main>
    <!-- main end -->

    <%- include("partials/carousel.ejs") %>

    <!-- newsletter start -->
    <section class="newsletter">
      <div class="news-text">
        <p>Join <span>98,641</span> Monthly Readers.</p>
        <p>Subscribe Today!</p>
      </div>
      <div class="news-sub">
        <input type="email" name="news-email" placeholder="Email Address" />
        <button type="submit">Subscribe</button>
      </div>
    </section>
    <!-- newsletter end -->

    <!-- footer start -->
    <footer>
      <!-- footer-nav start -->
      <section class="footer-nav">
        <div class="logo2">
          <div class="logo-text2">
            <h2>Red</h2>
            <p>Explorers</p>
          </div>

          <div class="logo-icon2">
            <img src="/images/Paper Plane (Traced).png" alt="logo-icon" />
          </div>
        </div>

        <div class="footer-nav-btn">
          <li><a href="#">Body</a></li>
          <li><a href="#">Travel</a></li>
          <li><a href="#">Account</a></li>
        </div>
      </section>
      <!-- footer-nav end -->

      <!-- footer-content start -->
      <section class="footer-content">
        <div class="footer-about">
          <p>
            We are location independent bloggers, digital influencers, small
            group tour organizers and world travelers with a serious passion for
            the sun, the sea and adventure.
          </p>
          <p>
            Eight years and 60-something countries later and we are still on the
            road.
          </p>
        </div>

        <!-- footer-cont-info start -->
        <div class="footer-cont-info">
          <ul>
            <li>Add: 221B John hope Street, Lekki, Lagos, Nigeria.</li>
            <li>T: +234 706 507 8544</li>
            <li>E: info@redexplorers.com</li>
            <li>W: www. redexplorers.com</li>
          </ul>
        </div>
        <!-- footer-cont-info end -->

        <div class="footer-contact">
          <ul>
            <li>My List</li>
            <li>My Requests</li>
            <li>My Credits</li>
            <li>My Info</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="footer-request">
          <ul>
            <li>Travel</li>
            <li>Why Travel</li>
            <li>Become a Traveler</li>
            <li>How Its Works</li>
            <li>Traveling FAQs</li>
          </ul>
        </div>

        <!-- footer rights start -->
        <section class="footer-rights">
          <img src="/images/sidehustle.png" alt="sidehustle pic" />
          <div class="footer-icons">
            <ul>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="#fff"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M13.397 20.997v-8.196h2.765l.411-3.209h-3.176V7.548c0-.926.258-1.56 1.587-1.56h1.684V3.127A22 22 0 0 0 14.201 3c-2.444 0-4.122 1.492-4.122 4.231v2.355H7.332v3.209h2.753v8.202z"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="#fff"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M19.633 7.997c.013.175.013.349.013.523 0 5.325-4.053 11.461-11.46 11.461-2.282 0-4.402-.661-6.186-1.809.324.037.636.05.973.05a8.07 8.07 0 0 0 5.001-1.721 4.04 4.04 0 0 1-3.767-2.793c.249.037.499.062.761.062.361 0 .724-.05 1.061-.137a4.03 4.03 0 0 1-3.23-3.953v-.05c.537.299 1.16.486 1.82.511a4.02 4.02 0 0 1-1.796-3.354c0-.748.199-1.434.548-2.032a11.46 11.46 0 0 0 8.306 4.215c-.062-.3-.1-.611-.1-.923a4.026 4.026 0 0 1 4.028-4.028c1.16 0 2.207.486 2.943 1.272a8 8 0 0 0 2.556-.973 4.02 4.02 0 0 1-1.771 2.22 8 8 0 0 0 2.319-.624 8.7 8.7 0 0 1-2.019 2.083"
                  ></path>
                </svg>
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="#fff"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.91 8.91 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625"
                  ></path>
                </svg>
                +
              </li>
              <li>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="#fff"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M4.983 2.821a2.188 2.188 0 1 0 0 4.376 2.188 2.188 0 1 0 0-4.376m4.254 6.034v12.139h3.769v-6.003c0-1.584.298-3.118 2.262-3.118 1.937 0 1.961 1.811 1.961 3.218v5.904H21v-6.657c0-3.27-.704-5.783-4.526-5.783-1.835 0-3.065 1.007-3.568 1.96h-.051v-1.66zm-6.142 0H6.87v12.139H3.095z"
                  ></path>
                </svg>
              </li>
            </ul>
          </div>

          <p>
            © 2021 RedExplorers. All rights reserved | Terms | Privacy | Site
            Map
          </p>
        </section>
        <!-- footer rights end -->
      </section>
      <!-- footer-content end -->
    </footer>
    <!-- footer end -->
  </body>
</html>
