<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traveling Blog</title>
    <link rel="stylesheet" href="/CSS/style.css" />
  </head>
  <body>
    <header>
     <%- include("partials/navbar.ejs") %>

     <div class="hero-section">
        <p class="counter">THE COUNTER: <span class="num">70</span> Countries <span class="num-2"> 1036</span> Cities</p>
        <h2>Leave your mark on all over the world</h2>
        <a href="#" class="read-more">Read More</a>

        <p class="scroll-txt">Scroll Down to Continue</p>
        <img src="/images/downicon.png" alt="down-icon">

        <div class="location-icon">
            <img src="/images/location logo.png" alt="location-icon">
        </div>

     </div>
    </header>
  </body>
</html>
