<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Tips</title>
    <link rel="stylesheet" href="/CSS/style.css" />
    <link rel="stylesheet" href="/CSS/tipspage.css" />
    <link rel="stylesheet" href="/CSS/mediaQ.css" />
  </head>
  <body>
    <!-- header section start -->
    <div class="travel-hdr">
      <%- include("partials/navbar.ejs") %>

      <section class="hero-section-tipspage">
        <h2>Travel Tips</h2>
      </section>
    </div>
    <!-- header section end -->

    <div class="main">
      <section class="tips-motto">
        <div class="tips-big-text">
          <p>Maintaining your <span>privacy</span>  during travels.</p>
        </div>

        <div class="tips-sm-text">
          <p>
            Traveling is more than just visiting new places; it's about experiencing the world with an open mind and a prepared spirit. From packing hacks to safety advice, we've curated essential tips to ensure your adventures are smooth and memorable. Learn how to navigate foreign cultures, manage your budget, and stay safe while exploring the globe. Your journey to becoming a savvy traveler starts here <button>read more</button>.
          </p>
        </div>
      </section>

    <section class="tips-container">
      <!-- card 1 -->
      <div class="tip-card">
        <img src="/images/travelpic1.png" alt="" />
        <div class="tip-date">January 15, 2019 - Travel Tips</div>
        <div class="tip-title">Going to the Extreme -The Northern Pole</div>
        <div class="tip-footer">
          <span><img src="/images/blackloc.png" alt="location"> North Pole</span>
          <span><img src="/images/blackcom.png" alt="comment"> 12 Comment</span>
          <span><img src="/images/blackstar.png" alt="star"> 4.8 of 5</span>
        </div>
      </div>

      <!-- card 2 -->
      <div class="tip-card">
        <img src="/images/travelpic2.png" alt="" />
        <div class="tip-date">January 15, 2019 - Travel Tips</div>
        <div class="tip-title">Summer Vibes... Where to spend the energy.</div>
        <div class="tip-footer">
          <span><img src="/images/blackloc.png" alt="location"> North Pole</span>
          <span><img src="/images/blackcom.png" alt="comment"> 12 Comment</span>
          <span><img src="/images/blackstar.png" alt="star">4.8 of 5</span>
        </div>
      </div>

      <!-- card 3 -->
      <div class="tip-card">
        <img src="/images/travelpic3.png" alt="" />
        <div class="tip-date">January 15, 2019 - Travel Tips</div>
        <div class="tip-title">Smarter cities and how to enjoy them.</div>
        <div class="tip-footer">
          <span><img src="/images/blackloc.png" alt="location"> North Pole</span>
          <span><img src="/images/blackcom.png" alt="comment"> 12 Comment</span>
          <span><img src="/images/blackstar.png" alt="star"> 4.8 of 5</span>
        </div>
      </div>

      <!-- card 4 -->
      <div class="tip-card">
        <img src="/images/travelpic4.png" alt="" />
        <div class="tip-date">January 15, 2019 - Travel Tips</div>
        <div class="tip-title">Going to the wild? What should you pack?</div>
        <div class="tip-footer">
          <span><img src="/images/blackloc.png" alt="location"> North Pole</span>
          <span><img src="/images/blackcom.png" alt="comment"> 12 Comment</span>
          <span><img src="/images/blackstar.png" alt="star"> 4.8 of 5</span>
        </div>
      </div>

      <!-- card 5 -->
      <div class="tip-card">
        <img src="/images/travelpic5.png" alt="" />
        <div class="tip-date">January 15, 2019 - Travel Tips</div>
        <div class="tip-title">Foods to try when you Visit Australia.</div>
        <div class="tip-footer">
          <span><img src="/images/blackloc.png" alt="location">North Pole</span>
          <span><img src="/images/blackcom.png" alt="comment"> 12 Comment</span>
          <span><img src="/images/blackstar.png" alt="star"> 4.8 of 5</span>
        </div>
      </div>

      <!-- card 6 -->
      <div class="tip-card">
        <img src="/images/travelpic6.png" alt="" />
        <div class="tip-date">January 15, 2019 - Travel Tips</div>
        <div class="tip-title">Beaches And how to enjoy them the most.</div>
        <div class="tip-footer">
          <span><img src="/images/blackloc.png" alt="location"> North Pole</span>
          <span><img src="/images/blackcom.png" alt="comment"> 12 Comment</span>
          <span><img src="/images/blackstar.png" alt="star"> 4.8 of 5</span>
        </div>
      </div>

      <!-- card 7 -->
      <div class="tip-card">
        <img src="/images/travelpic7.png" alt="" />
        <div class="tip-date">January 15, 2019 - Travel Tips</div>
        <div class="tip-title">Road Trip 101 Things you need to know</div>
        <div class="tip-footer">
          <span><img src="/images/blackloc.png" alt="location"> North Pole</span>
          <span><img src="/images/blackcom.png" alt="comment"> 12 Comment</span>
          <span><img src="/images/blackstar.png" alt="star"> 4.8 of 5</span>
        </div>
      </div>

      <!-- card 8 -->
      <div class="tip-card">
        <img src="/images/travelpic8.png" alt="" />
        <div class="tip-date">January 15, 2019 - Travel Tips</div>
        <div class="tip-title">Beaches And how to enjoy them the most.</div>
        <div class="tip-footer">
          <span><img src="/images/blackloc.png" alt="location"> North Pole</span>
          <span><img src="/images/blackcom.png" alt="comment"> 12 Comment</span>
          <span><img src="/images/blackstar.png" alt="star"> 4.8 of 5</span>
        </div>
      </div>

      <!-- card 9 -->
      <div class="tip-card">
        <img src="/images/travelpic9.png" alt="" />
        <div class="tip-date">January 15, 2019 - Travel Tips</div>
        <div class="tip-title">Going to the Extreme -The Northern Pole</div>
        <div class="tip-footer">
          <span><img src="/images/blackloc.png" alt="location"> North Pole</span>
          <span><img src="/images/blackcom.png" alt="comment"> 12 Comment</span>
          <span><img src="/images/blackstar.png" alt="star"> 4.8 of 5</span>
        </div>
      </div>
    </section>
    </div>

    <%- include("partials/footer.ejs") %>

    <script>
      const hamburger = document.querySelector(".hamburger");
      const navMenu = document.querySelector(".nav-btn");

      hamburger.addEventListener("click", () => {
        hamburger.classList.toggle("active");
        navMenu.classList.toggle("active");
      });
    </script>
  </body>
</html>
