:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Lato", sans-serif;
  --orange-color: #ffa500;
  --blue-color: #0336ff;
  --box-shadow: 0 0 50px 10px rgba(168, 166, 166, 0.274);
  --border-radius: 10px;
}

.about-hdr {
  background-image: url(/images/aboutus\ pic.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  /* width: 100%; */
  /* margin-bottom: -5rem; */
}

.hero-section-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h2 {
    font-size: 64px;
    font-weight: 800;
    font-family: var(--second-font);
    max-width: 650px;
    text-align: center;
    margin-top: 10.5rem;
  }
}
/* header end */

/* aboutMain start */
.aboutMain {
  padding: 0 70px;
}

.aboutMain .aboutus-motto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 141px;
  gap: 30px;
}

.aboutMain .aboutus-motto .aboutus-sm-text p {
  max-width: 408px;
  font-weight: 700;
  font-size: 18px;
  font-family: var(--second-font);
  line-height: 40px;
}
.aboutMain .aboutus-motto .aboutus-big-text p {
  max-width: 600px;
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: 400;

  span {
    color: var(--orange-color);
    border-bottom: 2px solid var(--orange-color);
  
  }
}
/* aboutMain end */