:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Lato", sans-serif;
  --orange-color: #ffa500;
  --blue-color: #0336ff;
  --box-shadow: 0 0 50px 10px rgba(168, 166, 166, 0.274);
  --border-radius: 10px;
}

.about-hdr {
  background-image: url(/images/aboutus\ pic.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  /* width: 100%; */
  /* margin-bottom: -5rem; */
}

.hero-section-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h2 {
    font-size: 64px;
    font-weight: 800;
    font-family: var(--second-font);
    max-width: 650px;
    text-align: center;
    margin-top: 10.5rem;
  }
}
/* header end */

/* aboutMain start */
.aboutMain {
  padding: 0 70px;
}

.aboutMain .aboutus-motto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 141px;
  gap: 10px;
}

.aboutMain .aboutus-motto .aboutus-sm-text p {
  max-width: 640px;
  font-weight: 700;
  font-size: 18px;
  font-family: var(--second-font);
  line-height: 40px;
}
.aboutMain .aboutus-motto .aboutus-big-text p {
  max-width: 600px;
  font-size: 40px;
  font-family: var(--main-font);
  font-weight: 400;
  color: gray;

  strong{
    color: #000;
    font-weight: 500;
  }

  span {
    color: var(--orange-color);
    border-bottom: 2px solid var(--orange-color);
  }
}

.aboutmain-sec-pic img{
  width: 1450px;
}

.aboutmain-sec-pic p {
  font-weight: 700;
  font-size: 18px;
  font-family: var(--second-font);
  line-height: 40px;
  margin-top: 55px;
}
/* aboutMain end */

/* aboutarticles start */
.aboutArticles {
  display: grid;
  grid-template-columns: 640px 615px;
  gap: 47px;
  margin-top: 10rem;
}

.aboutArticles h2{
  margin-bottom: 37px;
  font-family: var(--second-font);
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}

.aboutArticles p{
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}

.aboutArticles .ourStory p,.whoAreRedExplorers p{
  margin-bottom: 10px;
}

.aboutArticles .aboutCameraMan p, .what-learn p{
  margin-bottom: 30px;
}

.aboutArticles .what-learn{


h3{
  margin: 32px 0;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--second-font);
  line-height: 40px;
}

li{
  list-style: none;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 700;
  font-family: var(--second-font)
}
}
/* aboutarticles end */

/* carousel section start */
.car-carousel-section {
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 90px;
}

/* Carousel viewport */
.car-carousel {
  position: relative;
  height: 296px;
  overflow: hidden;
}
.car-carousel:hover .carousel-track {
  animation-play-state: paused;
}

/* Moving track */
.car-carousel-track {
  display: flex;
  height: 100%;
  width: max-content;

  animation: scroll-left 30s linear infinite;
}

.car-carousel-track img {
  width: 260.7px;
  height: 100%;
  object-fit: cover;
  flex-shrink: 0;
  margin: 0 20px;
}