.contact-hdr {
  background-image: url(/images/contact-bg.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  /* width: 100%; */
  margin-bottom: -25rem;
}

.hero-section-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h2 {
    font-size: 64px;
    font-weight: 800;
    font-family: var(--second-font);
    max-width: 650px;
    text-align: center;
    margin-top: 2.5rem;
  }
}
/* header end */

.contact-section {
  max-width: 900px;
  margin: 100px auto;
  padding: 0 20px;
}

.contact-heading {
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  color: #555;
  margin-bottom: 60px;
}

/* FORM */

.contact-form {
  width: 100%;
}

.row {
  display: flex;
  gap: 30px;
  margin-bottom: 25px;
}

.row input {
  flex: 1;
  padding: 14px 18px;
  border-radius: 6px;
  border: 1px solid #ddd;
  background: #fff;
  font-size: 14px;
  outline: none;
  transition: 0.2s ease;
}

.row input:focus,
.row textarea:focus {
  border-color: #1e4df5;
}

/* TEXTAREA */

.row.full {
  flex-direction: column;
}

.row textarea {
  width: 100%;
  height: 180px;
  padding: 18px;
  border-radius: 6px;
  border: 1px solid #ddd;
  resize: none;
  font-size: 14px;
  outline: none;
}

/* BUTTON */

.submit-wrapper {
  text-align: center;
  margin-top: 20px;
}

.contact-section button {
  background: #1e4df5;
  color: #fff;
  padding: 8px 30px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

button:hover {
  background: #173dcc;
}

/* RESPONSIVE */

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    gap: 15px;
  }
}
