/* Tablet and smaller desktops */
@media screen and (max-width: 1350px) {
  main {
    grid-template-columns: 1fr;
    gap: 50px;
    margin-top: 0;
    padding: 0 20px;
  }

  /* To Move sidebar to bottom on smaller screens */
  main .aside-content {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  main .main-articles {
    order: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Resetting fixed widths to flexible */
  .about-sec,
  .categories,
  .popular-post,
  .recent-post,
  .gear,
  .product,
  .get-in-touch {
    width: 100% !important;
    max-width: 600px;
    height: auto !important;
  }

  .travelers-guide,
  .travelers-guide2,
  .purchase {
    width: 100% !important;
    height: auto !important;
  }

  /* Fix double blog section */
  .doub-blog {
    flex-direction: column;
    width: 100%;
  }

  .doub-blog aside {
    width: 100% !important;
    height: auto !important;
  }

  .doub-blog .doub-cont {
    width: 100%;
  }

  .doub-blog .doub-cont img {
    width: 100%;
    height: auto;
  }

  /* Footer adjustments */
  footer {
    height: auto !important;
  }

  footer .footer-nav {
    padding: 40px 20px !important;
    flex-direction: column;
    gap: 20px;
  }

  footer .footer-nav .footer-nav-btn {
    margin-left: 0;
  }

  footer .footer-nav .footer-nav-btn li a {
    margin-left: 0;
    margin: 0 15px;
  }

  footer .footer-cont-wrapper .footer-content {
    padding: 40px 20px !important;
    grid-template-columns: 1fr 1fr !important;
    gap: 40px;
  }

  footer .footer-rights {
    margin-top: 0 !important;
    padding: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 25px 20px;
    gap: 0;
    position: relative;
  }

  nav .nav-btn {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    z-index: 100;
    align-items: center;
    gap: 20px;
  }

  nav .nav-btn.active {
    display: flex;
  }

  nav .nav-btn li a {
    margin-right: 0;
    font-size: 22px;
    padding: 15px 0;
    display: block;
  }

  /* Hamburger Menu Styles */
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--blue-color);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  header {
    background-size: cover;
  }

  /* Header Texts */
  header .hero-section h2 {
    font-size: 42px !important;
    line-height: 1.3;
    padding: 0 15px;
  }

  header .hero-section .counter {
    font-size: 24px !important;
    text-align: center;
  }

  /* Newsletter on Mobile */
  .newsletter {
    flex-direction: column;
    height: auto;
    gap: 30px;
    padding: 50px 20px;
    text-align: center;
  }

  .newsletter .news-sub {
    flex-direction: column;
    width: 100%;
  }

  .newsletter .news-sub input {
    width: 100%;
    margin-bottom: 10px;
    height: 60px;
    font-size: 18px;
  }

  /* Footer on Mobile */
  footer .footer-cont-wrapper .footer-content {
    grid-template-columns: 1fr !important;
    text-align: center;
  }

  footer .footer-nav .footer-nav-btn {
    align-items: center;
    gap: 10px;
  }

  footer .footer-rights {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  /* So images don't overflow */
  img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 769px) {
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  header {
    background-position: center;
    background-size: cover;

    .hero-section{

      .location-icon {
        position: static;
        margin-top: 2rem;
  
        img{
          width: 45px;
          height: 45px;
        }
      }

      .read-more {
      margin-top: 2rem;
    }

      .scroll-txt {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    }
  }

  main {
    /* ASIDE START */
    /* about-sec start */
    .about-sec {
      border-radius: 40px;

      p {
        max-width: 250px;
        line-height: 25px;
      }

      img {
        width: 300px;
      }
    }
    /* about-sec end */

    /* categories start */
    .categories {
      width: 250.23px;
      border-radius: 40px;

      .cate-content {
        ul li,
        ol li {
          font-size: 20px;
        }
      }
    }
    /* categories end */

    /* popular post start */
    .popular-post {
      border-radius: 40px;

      .popu-post {
        background-size: 307px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          font-size: 16px;
          font-weight: 600;
          padding-bottom: 33px;
          margin-left: -10px;
        }

        .popu-btns {
          padding-left: 20px;
          text-align: center;

          h3 {
            font-size: 19.64px;
            line-height: 20px;
            max-width: 300px;
          }

          button {
            width: 21px;
            height: 21px;
            margin-bottom: 40px;
          }
        }
      }
    }
    /* popular post end */

    /* recent post start */
    .recent-post {
      border-radius: 40px;

      .rece-posts {
        gap: 13px;
        padding: 0 0 20px 8px;

        .rece-big {
          font-size: 16px;
          line-height: 20px;
          max-width: 250px;
        }

        img {
          width: 50px;
          height: 50px;
        }

        .rece-sm {
          font-size: 16px;
          line-height: 13.81px;
        }
      }
    }
    /* recent post end */

    /* gear start */
    .gear {
      border-radius: 40px;

      h2 {
        line-height: 29.39px;
      }

      h3 {
        font-size: 27.65px;
      }

      button {
        padding: 15px 20px;
      }
    }
    /* gear end */

    /* products start */
    .product {
      border-radius: 40px;

      .products {
        gap: 14px;
        padding-bottom: 36px;

        img {
          width: 50px;
          height: 50px;
          margin-left: 8px;
        }

        .prod-name,
        .prod-price {
          font-size: 17px;
          line-height: 18px;
          max-width: 230px;
        }
      }
    }
    /* products end */

    /* get in touch start */
    .get-in-touch {
      .g-i-t-btns {
        grid-template-columns: repeat(2, 155px);

        .button {
          line-height: 16px;

          p {
            max-width: 40px;
            margin-right: 55px;
            font-weight: 600;
          }
        }
      }
    }
    /* get in touch end */

    /* ASIDE END*/

    /* ARTICLE (MAIN ARTICLES) START */

    /* travelers-guide start */
    .travelers-guide {
      margin-top: 30px;
      border-radius: 30px;

      h3 {
        font-weight: 600;
        font-size: 28.64px;
        max-width: 600px;
        line-height: 36.98px;
        padding-left: 25px;
        margin-top: 26px;
        margin-bottom: 19px;
      }

      .lorem {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 3rem;
      }

      .loc-comm {
        padding: 0 25px;
        margin-bottom: 20px;

        img {
          width: 18px;
          height: 20px;
        }

        .loc,
        .comm {
          gap: 7px;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
    /* travelers-guide end */

    /* doub-blog start */
    .doub-blog {

      .doub-cont {
        border-radius: 30px;

        h3 {
          font-size: 25.64px;
          margin-bottom: 80.78px;
        }

        .d-blog-loc-comm {
          padding: 0 15px;

          img{
            width: 18px;
            height: 20px;
          }

          .d-blog-loc,
          .d-blog-comm {
            gap: 13.15px;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 19.87px;
          }
        }
      }

    }
    /* doub-blog end */

    /* travelers-guide2 start */
    .travelers-guide2 {
      border-radius: 30px;


      h3 {
        font-weight: 600;
        font-size: 28.64px;
        max-width: 600px;
        line-height: 46.98px;
        padding-left: 25px;
        margin-top: 26px;
        margin-bottom: 19px;
      }

     .lorem-love {
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 3rem;
      }

      .loc-comm2 {
        padding: 0 25px;
        margin-bottom: 20px;

        img {
          width: 18px;
          height: 20px;
        }

        .loc,
        .comm {
          gap: 7px;
          font-size: 15px;
          font-weight: 400;
        }
      }
    }
    /* travelers-guide2 end */

    /* purchase start */
    .purchase {
      background-repeat: no-repeat;
      background-size: cover;

      h2 {
        font-weight: 600;
        font-size: 30px;
        margin: 13px 0 30.19px 10px;
      }

      button {
        padding: 16px 25px;
        border-radius: 10px;
        margin-bottom: 20px;
      }
    }
    /* purchase end */
    /* ARTICLE (MAIN ARTICLES) END */
  }
  /* main  end */

  /* carousel section start */
.carousel-section {
  margin-bottom: 40px;
}

.carousel-track img {
  height: 80%;
  
}

.instagram-btn {
  top: 40%;
  font-size: 18px;
  font-weight: 400;
  padding: 25px 8px;
  border-radius: 35px;
}
/* carousel section end */


}
