@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    a{
        cursor: pointer;
    }
}

:root{
    --main-font: "Roboto", sans-serif;
    --second-font: "Lato", sans-serif;
    --orange-color: #FFA500;
    --blue-color:#0336FF;

}

.logo{
    display: flex;

    .logo-text{

        h2{
            font-size: 2rem;
            color: var(--blue-color);
        }

        p{
            color: var(--orange-color);
            margin-top: -8px;
            font-size: 12px;
        }
    }

    img{
        width: 50px;
    }

}

/* navbar start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    gap: 13.5rem;
    font-family: var(--main-font);

    .nav-btn{
        display: flex;

        li{
            list-style: none;
            
            a{
                text-decoration: none;
                margin-right: 105px;
                color: var(--orange-color);
                font-weight: 500;
            }

            a:hover:not(.hm-txt){
            border-bottom: 2px solid var(--orange-color);
            }
        }

        .hm-txt{
            color: white;
            padding: 10px 40px;
            background: var(--blue-color);
            border-radius: 20px;
        }
    }
}
/* navbar end */

/* header start */
header{
    background-image: url(/images/hero\ pic.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;


    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;

        .counter{
            font-size: 30px;
            font-weight: 700;
            font-family: var(--second-font);
            margin-top: 2.5rem;
        }

        h2{
            font-size: 64px;
            font-weight: 800;
            font-family: var(--second-font);
            max-width: 650px;
            text-align: center;
            margin-top: 2.5rem;
        }
        
        .num{
            color: var(--orange-color);
        }
        .num-2{
            color: var(--orange-color);
            margin-left: 20px;
        }

        .read-more{
            text-decoration: none;
            color: white;
            padding: 20px 40px;
            background: var(--blue-color);
            border-radius: 20px;
            font-size: 18px;
            font-weight: 700;
            font-family: var(--second-font);
            margin-top: 2.8rem;
        }

        .scroll-txt{
            font-size: 24px;
            font-weight: 500;
            font-family: var(--main-font);
            margin-top: 2.8rem;
            margin-bottom: 1rem;
        }

        .location-icon{
            position: absolute;
            right: 70px;
            bottom: -20px;
            
        }
    }

}
/* header end */

/* main  start */
main{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat();
}
/* main  end */



