@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    a{
        cursor: pointer;
    }
}

:root{
    --main-font: "Roboto", sans-serif;
    --orange-color: #FFA500;
    --blue-color:#0336FF;
}

.logo{
    display: flex;

    .logo-text{

        h2{
            font-size: 2rem;
            color: var(--blue-color);
        }

        p{
            color: var(--orange-color);
            margin-top: -8px;
            font-size: 12px;
        }
    }

    img{
        width: 50px;
    }

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
    gap: 25rem;

    .nav-btn{
        display: flex;

        li{
            list-style: none;
            
            a{
                text-decoration: none;
                margin-left: 90px;
                color: var(--orange-color);
                font-weight: 500;
            }

            a:hover:not(.hm-txt){
            border-bottom: 2px solid var(--orange-color);
            }
        }

        .hm-txt{
            color: white;
            padding: 10px 40px;
            background: var(--blue-color);
            border-radius: 20px;
        }
    }
}

