@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    a{
        cursor: pointer;
    }
}

:root{
    --main-font: "Roboto", sans-serif;
    --second-font: "Lato", sans-serif;
    --orange-color: #FFA500;
    --blue-color:#0336FF;

}

.logo{
    display: flex;

    .logo-text{

        h2{
            font-size: 2rem;
            color: var(--blue-color);
        }

        p{
            color: var(--orange-color);
            margin-top: -8px;
            font-size: 12px;
        }
    }

    img{
        width: 50px;
    }

}

/* navbar start */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    gap: 13.5rem;
    font-family: var(--main-font);

    .nav-btn{
        display: flex;

        li{
            list-style: none;
            
            a{
                text-decoration: none;
                margin-right: 105px;
                color: var(--orange-color);
                font-weight: 500;
            }

            a:hover:not(.hm-txt){
            border-bottom: 2px solid var(--orange-color);
            }
        }

        .hm-txt{
            color: white;
            padding: 10px 40px;
            background: var(--blue-color);
            border-radius: 20px;
        }
    }
}
/* navbar end */

/* header start */
header{
    background-image: url(/images/hero\ pic.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;


    .hero-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;

        .counter{
            font-size: 30px;
            font-weight: 700;
            font-family: var(--second-font);
            margin-top: 2.5rem;
        }

        h2{
            font-size: 64px;
            font-weight: 800;
            font-family: var(--second-font);
            max-width: 650px;
            text-align: center;
            margin-top: 2.5rem;
        }
        
        .num{
            color: var(--orange-color);
        }
        .num-2{
            color: var(--orange-color);
            margin-left: 20px;
        }

        .read-more{
            text-decoration: none;
            color: white;
            padding: 20px 40px;
            background: var(--blue-color);
            border-radius: 20px;
            font-size: 18px;
            font-weight: 700;
            font-family: var(--second-font);
            margin-top: 2.8rem;
        }

        .scroll-txt{
            font-size: 24px;
            font-weight: 500;
            font-family: var(--main-font);
            margin-top: 2.8rem;
            margin-bottom: 1rem;
        }

        .location-icon{
            position: absolute;
            right: 70px;
            bottom: -20px;
            
        }
    }

}
/* header end */

/* main  start */
main{
    display: grid;
    grid-template-columns: 460px auto;
    justify-content: center;
    align-items: stretch;
    gap: 100px;
    margin-top: -50px;

    /* about-sec start */
    .about-sec{
         box-shadow: 0 0 50px -20px black;
         display: flex;
         align-items:center;
         justify-content: center;
         flex-direction: column;
         border-radius: 5px;
         width: 438px;
         height: 598px;

         p{
            max-width: 340px;
            margin-top: 10px;
            font-size: 16.38px;
            font-weight: 500;
            line-height: 20.64px;
            font-family: var(--second-font);
         }


        h2{
            text-align: center;
            margin: 10px 0;
            font-size: 29.65px;
            font-weight: 700;
            line-height: 51.39px;
            font-family: var(--second-font);
        }

        a{
            background: blue;
            color: white;
            padding: 15px 30px;
            border-radius: 10px;
            margin: 20px 0;
            text-decoration: none;
            font-weight: 600;
            font-family: var(--second-font);
            font-size: 17px;
        }
    }
    /* about-sec end */

    /* travelers-guide start */
    .travelers-guide{
        width: 783.12px;
        height: 862px;
        box-shadow: 0 0 50px -20px black;

        .date{
            font-family: var(--second-font);
            font-weight: 500;
            font-size: 18px;
            line-height: 33.81px;
            padding-left: 25px;
            border-left: 4px  solid var(--orange-color);
            margin-top: 12px;
        }

        h3{
            font-family: var(--second-font);
            font-weight: 600;
            font-size: 28.64px;
            max-width: 600px;
            line-height: 46.98px;
            padding-left: 25px;
        }

        .lorem{
            font-size: 24px;
            font-family: var(--second-font);
            font-weight: 500;
            line-height: 40px;
            padding-left: 25px;
            max-width: 750px;
        }

        .loc-comm{
            display: flex;
            
        }

    }
    /* travelers-guide end */

}
/* main  end */



