@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  a,
  button {
    cursor: pointer;
  }
}

:root {
  --main-font: "Roboto", sans-serif;
  --second-font: "Lato", sans-serif;
  --orange-color: #ffa500;
  --blue-color: #0336ff;
  --box-shadow: 0 0 50px 10px rgba(168, 166, 166, 0.274);
  --border-radius: 10px;
}

.logo {
  display: flex;

  .logo-text {
    h2 {
      font-size: 2rem;
      color: var(--blue-color);
    }

    p {
      color: var(--orange-color);
      margin-top: -8px;
      font-size: 12px;
    }
  }

  img {
    width: 50px;
  }
}

/* navbar start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0;
  gap: 13.5rem;
  font-family: var(--main-font);

  .nav-btn {
    display: flex;

    li {
      list-style: none;

      a {
        text-decoration: none;
        margin-right: 105px;
        color: var(--orange-color);
        font-weight: 500;
      }

      a:hover:not(.hm-txt) {
        border-bottom: 2px solid var(--orange-color);
      }
    }

    .hm-txt {
      color: white;
      padding: 10px 40px;
      background: var(--blue-color);
      border-radius: 20px;
    }
  }
}
/* navbar end */

/* header start */
header {
  background-image: url(/images/hero\ pic.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;

  .hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;

    .counter {
      font-size: 30px;
      font-weight: 700;
      font-family: var(--second-font);
      margin-top: 2.5rem;
    }

    h2 {
      font-size: 64px;
      font-weight: 800;
      font-family: var(--second-font);
      max-width: 650px;
      text-align: center;
      margin-top: 2.5rem;
    }

    .num {
      color: var(--orange-color);
    }
    .num-2 {
      color: var(--orange-color);
      margin-left: 20px;
    }

    .read-more {
      text-decoration: none;
      color: white;
      padding: 20px 40px;
      background: var(--blue-color);
      border-radius: 20px;
      font-size: 18px;
      font-weight: 700;
      font-family: var(--second-font);
      margin-top: 2.8rem;
    }

    .scroll-txt {
      font-size: 24px;
      font-weight: 500;
      font-family: var(--main-font);
      margin-top: 2.8rem;
      margin-bottom: 1rem;
    }

    .location-icon {
      position: absolute;
      right: 70px;
      bottom: -20px;
    }
  }
}
/* header end */

/* main  start */
main {
  display: grid;
  grid-template-columns: 460px auto;
  justify-content: center;
  align-items: stretch;
  gap: 100px;
  margin-top: -50px;

  /* about-sec start */
  .about-sec {
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: var(--border-radius);
    width: 438px;
    height: 598px;

    p {
      max-width: 340px;
      margin-top: 10px;
      font-size: 16.38px;
      font-weight: 500;
      line-height: 20.64px;
      font-family: var(--second-font);
    }

    h2 {
      text-align: center;
      margin: 10px 0;
      font-size: 29.65px;
      font-weight: 700;
      line-height: 51.39px;
      font-family: var(--second-font);
    }

    a {
      background: var(--blue-color);
      color: white;
      padding: 15px 30px;
      border-radius: 10px;
      margin: 20px 0;
      text-decoration: none;
      font-weight: 600;
      font-family: var(--second-font);
      font-size: 17px;
    }
  }
  /* about-sec end */

  /* travelers-guide start */
  .travelers-guide {
    width: 783.12px;
    height: 862px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);

    .date {
      font-family: var(--second-font);
      font-weight: 500;
      font-size: 18px;
      line-height: 33.81px;
      padding-left: 25px;
      border-left: 4px solid var(--orange-color);
      margin-top: 12px;
    }

    h3 {
      font-family: var(--second-font);
      font-weight: 600;
      font-size: 28.64px;
      max-width: 600px;
      line-height: 46.98px;
      padding-left: 25px;
    }

    .lorem {
      font-size: 24px;
      font-family: var(--second-font);
      font-weight: 500;
      line-height: 40px;
      padding-left: 25px;
      max-width: 750px;
      margin-bottom: 5rem;
    }

    .loc-comm {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 25px;

      .loc,
      .comm {
        display: flex;
        gap: 10px;
        font-size: 18px;
        font-weight: 500;
        font-family: var(--second-font);
        /* line-height: 40px; */
      }
    }
  }
  /* travelers-guide end */

  /* categories start */
  .categories {
    box-shadow: var(--box-shadow);
    margin-top: 43px;
    width: 450.23px;
    height: 569px;
    border-radius: var(--border-radius);

    h2 {
      text-align: center;
      padding-top: 16.02px;
      padding-bottom: 50px;
      font-family: var(--second-font);
      font-weight: 700;
      font-size: 29.65px;
      line-height: 51.39px;
    }

    .cate-content {
      display: flex;
      justify-content: space-around;

      ul li,
      ol li {
        list-style: none;
        font-size: 24px;
        font-family: var(--second-font);
        font-weight: 500;
        line-height: 40px;
        padding-bottom: 18px;
      }
    }
  }
  /* categories end */

  /* popular post start */
  .popular-post {
    width: 445px;
    height: 507px;
    margin: 43px 0;
    border-radius: var(--border-radius);

    h2 {
      box-shadow: var(--box-shadow);
      padding: 20px 0;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      text-align: center;
      margin-bottom: 43px;
      font-size: 31.64px;
      font-weight: 700;
      font-family: var(--second-font);
      line-height: 46.98px;
    }

    .popu-post {
      background-image: url(/images/whitebus.png);
      background-position: top;
      background-size: 507px;
      background-repeat: no-repeat;
      height: inherit;

      p {
        font-family: var(--second-font);
        font-size: 24px;
        font-weight: 500;
        line-height: 33.81px;
        color: #ffff;
        text-align: center;
        padding-top: 33px;
        padding-bottom: 83px;
      }

      .popu-btns {
        padding-left: 40px;

        h3 {
          font-family: var(--second-font);
          font-weight: 700;
          font-size: 31.64px;
          line-height: 46.98px;
          color: #ffff;
          padding-bottom: 38.12px;
        }

        button {
          width: 41px;
          height: 50px;
        }
      }
    }
  }
  /* popular post end */

  /* recent post start */
  .recent-post {
    margin-top: 93px;
    margin-bottom: 43px;

    h2 {
      box-shadow: var(--box-shadow);
      padding: 20px 0;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      text-align: center;
      margin-bottom: 43px;
      font-size: 31.64px;
      font-weight: 700;
      font-family: var(--second-font);
      line-height: 46.98px;
    }

    .rece-posts {
      display: flex;
      gap: 13px;
      padding-bottom: 20px;

      .rece-big {
        font-size: 24px;
        font-weight: 600;
        font-family: var(--second-font);
        line-height: 30px;
      }

      .rece-sm {
        font-size: 18px;
        font-family: var(--second-font);
        font-weight: 500;
        line-height: 33.81px;
      }
    }
  }
  /* recent post end */

  /* gear start */
  .gear {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin-bottom: 43px;
    width: 450px;
    height: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      padding-top: 13.55px;
      padding-bottom: 37px;
      font-family: var(--second-font);
      font-weight: 700;
      font-size: 29.65px;
      line-height: 59.39px;
    }

    h3 {
      padding-bottom: 26px;
      font-family: var(--second-font);
      font-weight: 700;
      font-size: 29.65px;
      line-height: 59.39px;
    }

    p {
      text-align: center;
      max-width: 330px;
      padding-bottom: 16px;
      font-family: var(--second-font);
      font-size: 24px;
      font-weight: 300;
      line-height: 33.81px;
      color: #0000006b;
    }

    button {
      width: 182px;
      height: 71px;
      border-radius: 8px;
      margin-bottom: 17px;
      border: none;
      background: var(--blue-color);
      font-family: var(--second-font);
      font-weight: 500;
      color: #ffff;
      font-size: 16px;
    }
  }
  /* gear end */

  /* products start */
  .product {
    width: 456px;
    height: 491px;



    h2 {
      box-shadow: var(--box-shadow);
      padding: 20px 0;
      border-top-left-radius: var(--border-radius);
      border-top-right-radius: var(--border-radius);
      text-align: center;
      margin-bottom: 43px;
      font-size: 31.64px;
      font-weight: 700;
      font-family: var(--second-font);
      line-height: 46.98px;
    }

    .products{
        display: flex;
        gap: 14px;
        padding-bottom: 36px;

        .prod-name,.prod-price{
            font-family: var(--second-font);
            font-weight: 600;
            font-size: 24px;
            line-height: 30px;
            max-width: 310px;
        }

        .prod-price{
            color: var(--blue-color);
        }
    }
  }
  /* products end */
}
/* main  end */
